#root .blog-header {
  padding: 18px 0 10px 0;
  line-height: 1;
}

#root .blog-header small {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
}

#root .home-header {
  margin: 44px 0;
}

.ui.text.loader {
  top: 100px;
}

.active-nav {
  color: red !important;
}

#root .page {
  padding: 0 16px;
  padding-top: 30px;
  position: absolute;
  top: 136px;
  /*background-color: aquamarine;*/
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
