#root .blog-header {
  padding: 18px 0 10px 0;
  line-height: 1;
}

#root .blog-header small {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
}

#root .home-header {
  margin: 44px 0;
}

.active-nav {
  color: red !important;
}

.page {
  position: relative;
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
}
